
img{
    width: 500px;
    height: 350px;
    border-radius: 50%;
}

p{
    padding-top:100px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:2.5rem;
}

.boton{
    background-color: blue;
    color:white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding:15px 30px;
    border-radius: 10px;
    border:none;
}
.boton:hover{
    
    background-color: aqua;
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.fondoInicio{
    width: 100vw;
    height:100vh;
}
.container-boton{
    padding-top: 50px;
}
